{% extends 'base.html' %}

{% block content %}





    <h2 style="color:#205072; margin-left:25px; margin-top:35px; ">Add Movies:</h2>

    <form style=" margin-left:20px; margin-top:30px; " method="post" action="{{ url_for('addmovies') }}">
        <input type="text" name="title" placeholder="Movie Title" required>
        <input type="text" name="director" placeholder="Director" required>
        <input type="float" name="Release year" placeholder="Release year" required>
        <button style="color:blue;" type="submit">Add Movie</button>
    </form>



{% endblock %}