{% extends 'base.html' %}

{% block content %}
    <h1 style="color:#240e8b;; margin-left:15px; margin-top:15px; ">My Page</h1>
        <p style="color:purple; margin-left:25px; font-weight:bold;">Favourite movies</p>

    <ul style=" margin-left:3px; margin-top:15px; color:darkgreen; ">

        <p>The Shawshank Redemption, Frank Darabont, 1994</p>
        <p>The Godfather, Francis Ford Coppola, 1972</p>
        <p>The Dark Knight, Christopher Nolan, 2008</p>
        <p> Schindler's List,Steven Spielberg, 1993</p>
        <p>Pulp Fiction, Quentin Tarantino,  1994</p>
        <p> Fight Club , David Fincher, 1999</p>
        <p> The Matrix,  lana and Lilly Wachowski, 1999</p>



    </ul>
{% endblock %}